code/n8n/wf1-calendar-sync.json
{
  "updatedAt": "2026-03-21T19:17:31.610Z",
  "createdAt": "2026-03-18T04:05:24.815Z",
  "id": "iEus61U7SzQf537I",
  "name": "WF1 \u2014 Calendar Sync (Meeting Created)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-created",
        "options": {}
      },
      "id": "wf1-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -288
      ],
      "webhookId": "wf1-meeting-created"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst item = (body.items || [])[0] || {};\nconst meeting_id = item.id;\n// team may be empty if row was created before fields were linked;\n// extract team_id from payload if present, otherwise WF will re-fetch below\nconst team_id = (item.team || [])[0]?.id || null;\nreturn [{ json: { meeting_id, team_id, body } }];"
      },
      "id": "wf1-0001-0001-0001-000000000002",
      "name": "Parse Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -288
      ]
    },
    {
      "parameters": {
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/563/{{ $json.team[0].id }}/?user_field_names=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "options": {}
      },
      "id": "wf1-0001-0001-0001-000000000003",
      "name": "Get Volunteer Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        896,
        -384
      ]
    },
    {
      "parameters": {
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/558/{{ $json.senior[0].id }}/?user_field_names=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "options": {}
      },
      "id": "wf1-0001-0001-0001-000000000004",
      "name": "Get Senior",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        -384
      ]
    },
    {
      "parameters": {
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/554/{{ $json.senior_community[0].id }}/?user_field_names=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "options": {}
      },
      "id": "wf1-0001-0001-0001-000000000005",
      "name": "Get Community",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1344,
        -384
      ]
    },
    {
      "parameters": {
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/564/?user_field_names=true&filter__team__link_row_has={{ $('Parse Webhook').item.json.team_id }}&filter__end_date__empty=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "options": {}
      },
      "id": "wf1-0001-0001-0001-000000000006",
      "name": "Get Team Members",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1568,
        -384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pull data from upstream nodes\nconst team      = $('Get Volunteer Team').item.json;\nconst calendarId = team.google_calendar_id || 'e8a07748b896cc2ae78ce0296041d68cefed0c89d9e0cd4ec15b4fa42eae1756@group.calendar.google.com';\nconst senior    = $('Get Senior').item.json;\nconst community = $('Get Community').item.json;\nconst members   = $('Get Team Members').item.json.results || [];\nconst meetingId = $('Parse Webhook').item.json.meeting_id;\n\n// Day of week \u2192 JS index and RRULE code\nconst dayToIndex = { Monday:1, Tuesday:2, Wednesday:3, Thursday:4, Friday:5, Saturday:6, Sunday:0 };\nconst dayToRrule = { Monday:'MO', Tuesday:'TU', Wednesday:'WE', Thursday:'TH', Friday:'FR', Saturday:'SA', Sunday:'SU' };\n\nconst dayOfWeek  = team.call_day_of_week?.value || 'Monday';\nconst callTime   = team.call_time || '14:00:00';\nconst timezone   = community.timezone?.value || 'America/New_York';\n\n// Parse hour/minute from call_time (handles \"14:00\" or \"14:00:00\")\nconst [hours, minutes] = callTime.split(':').map(Number);\n\n// Find next occurrence of the target weekday (never today \u2014 always next week if same day)\nconst now = new Date();\nconst targetDay = dayToIndex[dayOfWeek];\nconst currentDay = now.getDay();\nlet daysUntil = (targetDay - currentDay + 7) % 7;\nif (daysUntil === 0) daysUntil = 7;\n\nconst nextDate = new Date(now);\nnextDate.setDate(now.getDate() + daysUntil);\n\n// Format YYYY-MM-DDThh:mm:ss  (timeZone field tells Google which zone this is in)\nconst pad = n => String(n).padStart(2, '0');\nconst dateStr      = `${nextDate.getFullYear()}-${pad(nextDate.getMonth()+1)}-${pad(nextDate.getDate())}`;\nconst startDT      = `${dateStr}T${pad(hours)}:${pad(minutes)}:00`;\nconst endDT        = `${dateStr}T${pad(hours + 1)}:${pad(minutes)}:00`;\n\n// Names\nconst seniorName    = senior.display_name?.[0]?.value || senior.Name || 'Senior';\nconst communityName = community.Name || community.name || 'Community';\n\n// Volunteer names + emails from team member lookup fields\nconst volunteers = members.map(m => ({\n  name:  m.display_name?.[0]?.value || m.volunteer_display_name?.[0]?.value || '',\n  email: m.person_email?.[0]?.value || m.volunteer_email?.[0]?.value || null\n})).filter(v => v.name);\n\nconst volunteerNames = volunteers.map(v => v.name).join(', ');\n\n// Attendees list \u2014 only include if email found\nconst attendees = volunteers\n  .filter(v => v.email)\n  .map(v => ({ email: v.email, displayName: v.name, responseStatus: 'needsAction' }));\n\n// Event description (shows as group, not individual)\nconst description = [\n  `Weekly CTR Virtual Visit`,\n  ``,\n  `Senior: ${seniorName}`,\n  `Community: ${communityName}`,\n  volunteerNames ? `Volunteer Group: ${volunteerNames}` : '',\n  ``,\n  `Join the conversation: https://chat.conversationstoremember.org`,\n  ``,\n  `Schedule changes must go through the CTR admin portal.`\n].filter(l => l !== undefined).join('\\n');\n\n// Hub & spoke: get team-specific calendar ID\n\n\nreturn [{ json: {\n  calendarId,\n  meeting_id:    meetingId,\n  summary:       `CTR Visit: ${seniorName}`,\n  description,\n  startDateTime: startDT,\n  endDateTime:   endDT,\n  timezone,\n  rrule:         `RRULE:FREQ=WEEKLY;BYDAY=${dayToRrule[dayOfWeek]}`,\n  attendees,\n  hasAttendees:  attendees.length > 0\n}}];\n"
      },
      "id": "wf1-0001-0001-0001-000000000007",
      "name": "Build Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($json.calendarId) }}/events?sendUpdates=none",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"summary\": {{ JSON.stringify($json.summary) }},\n  \"description\": {{ JSON.stringify($json.description) }},\n  \"start\": {\n    \"dateTime\": {{ JSON.stringify($json.startDateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.timezone) }}\n  },\n  \"end\": {\n    \"dateTime\": {{ JSON.stringify($json.endDateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.timezone) }}\n  },\n  \"recurrence\": [{{ JSON.stringify($json.rrule) }}],\n  \"attendees\": {{ JSON.stringify($json.attendees) }},\n  \"colorId\": \"9\",\n  \"reminders\": {\n    \"useDefault\": false,\n    \"overrides\": [\n      { \"method\": \"email\",  \"minutes\": 1440 },\n      { \"method\": \"popup\",  \"minutes\": 30 }\n    ]\n  },\n  \"guestsCanModify\": false,\n  \"guestsCanInviteOthers\": false,\n  \"guestsCanSeeOtherGuests\": true\n}",
        "options": {}
      },
      "id": "wf1-0001-0001-0001-000000000008",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2016,
        -384
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "swQQbJOZ8pjWMSfx",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/565/{{ $('Parse Webhook').item.json.meeting_id }}/?user_field_names=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"calendar_event_id\": {{ JSON.stringify($json.id) }}, \"google_calendar_id\": {{ JSON.stringify($(\"Build Event Data\").item.json.calendarId) }}}",
        "options": {}
      },
      "id": "wf1-0001-0001-0001-000000000009",
      "name": "Save Event ID to Meeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2464,
        -384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/e8a07748b896cc2ae78ce0296041d68cefed0c89d9e0cd4ec15b4fa42eae1756%40group.calendar.google.com/events?sendUpdates=none",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"summary\": {{ JSON.stringify($json.summary) }},\n  \"description\": {{ JSON.stringify($json.description) }},\n  \"start\": {\n    \"dateTime\": {{ JSON.stringify($json.start.dateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.start.timeZone) }}\n  },\n  \"end\": {\n    \"dateTime\": {{ JSON.stringify($json.end.dateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.end.timeZone) }}\n  },\n  \"recurrence\": {{ JSON.stringify($json.recurrence) }},\n  \"attendees\": {{ JSON.stringify($('Build Event Data').item.json.attendees) }},\n  \"colorId\": \"9\",\n  \"reminders\": {\n    \"useDefault\": false,\n    \"overrides\": [\n      { \"method\": \"email\",  \"minutes\": 1440 },\n      { \"method\": \"popup\",  \"minutes\": 30 }\n    ]\n  },\n  \"guestsCanModify\": false,\n  \"guestsCanInviteOthers\": false,\n  \"guestsCanSeeOtherGuests\": true\n}",
        "options": {}
      },
      "id": "6c70778b-9a44-4230-bdec-b3ad1e56ebce",
      "name": "Create Hub Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2240,
        -384
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "swQQbJOZ8pjWMSfx",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/565/{{ $json.meeting_id }}/?user_field_names=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Meeting Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        448,
        -288
      ],
      "id": "aa67c538-e565-4b32-acb2-e254daa85f8d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ ($json.team || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.meeting_day_of_week?.value || $json.meeting_day_of_week || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "c3",
              "leftValue": "={{ $json.meeting_time || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "c4",
              "leftValue": "={{ $json.calendar_event_id || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "All Fields Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        -288
      ],
      "id": "d9ca269b-06c2-4a75-88f7-4c0f974fbcad"
    },
    {
      "parameters": {},
      "name": "Not Ready Yet",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        -192
      ],
      "id": "f0d17e7e-2bd9-43e9-9ecd-92f2a4a4b92d"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook": {
      "main": [
        [
          {
            "node": "Fetch Meeting Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Volunteer Team": {
      "main": [
        [
          {
            "node": "Get Senior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Senior": {
      "main": [
        [
          {
            "node": "Get Community",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Community": {
      "main": [
        [
          {
            "node": "Get Team Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Team Members": {
      "main": [
        [
          {
            "node": "Build Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Event Data": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Create Hub Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Hub Calendar Event": {
      "main": [
        [
          {
            "node": "Save Event ID to Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Meeting Row": {
      "main": [
        [
          {
            "node": "All Fields Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Fields Ready?": {
      "main": [
        [
          {
            "node": "Get Volunteer Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Ready Yet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b740c1fc-b997-4740-855f-204e627f6111",
  "activeVersionId": "b740c1fc-b997-4740-855f-204e627f6111",
  "versionCounter": 85,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-18T04:05:24.816Z",
      "createdAt": "2026-03-18T04:05:24.816Z",
      "role": "workflow:owner",
      "workflowId": "iEus61U7SzQf537I",
      "projectId": "bpvNrEJi6gIk3zG4",
      "project": {
        "updatedAt": "2025-11-14T08:10:15.255Z",
        "createdAt": "2025-11-14T07:48:45.521Z",
        "id": "bpvNrEJi6gIk3zG4",
        "name": "jaime gudino <gudino27@icloud.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d7ce471d-e89c-45e4-a4fb-7efc66b2bafc"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-21T19:17:33.000Z",
    "createdAt": "2026-03-21T19:17:31.611Z",
    "versionId": "b740c1fc-b997-4740-855f-204e627f6111",
    "workflowId": "iEus61U7SzQf537I",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "meeting-created",
          "options": {}
        },
        "id": "wf1-0001-0001-0001-000000000001",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          -288
        ],
        "webhookId": "wf1-meeting-created"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || {};\nconst item = (body.items || [])[0] || {};\nconst meeting_id = item.id;\n// team may be empty if row was created before fields were linked;\n// extract team_id from payload if present, otherwise WF will re-fetch below\nconst team_id = (item.team || [])[0]?.id || null;\nreturn [{ json: { meeting_id, team_id, body } }];"
        },
        "id": "wf1-0001-0001-0001-000000000002",
        "name": "Parse Webhook",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          -288
        ]
      },
      {
        "parameters": {
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/563/{{ $json.team[0].id }}/?user_field_names=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "options": {}
        },
        "id": "wf1-0001-0001-0001-000000000003",
        "name": "Get Volunteer Team",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          896,
          -384
        ]
      },
      {
        "parameters": {
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/558/{{ $json.senior[0].id }}/?user_field_names=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "options": {}
        },
        "id": "wf1-0001-0001-0001-000000000004",
        "name": "Get Senior",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1120,
          -384
        ]
      },
      {
        "parameters": {
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/554/{{ $json.senior_community[0].id }}/?user_field_names=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "options": {}
        },
        "id": "wf1-0001-0001-0001-000000000005",
        "name": "Get Community",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1344,
          -384
        ]
      },
      {
        "parameters": {
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/564/?user_field_names=true&filter__team__link_row_has={{ $('Parse Webhook').item.json.team_id }}&filter__end_date__empty=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "options": {}
        },
        "id": "wf1-0001-0001-0001-000000000006",
        "name": "Get Team Members",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1568,
          -384
        ]
      },
      {
        "parameters": {
          "jsCode": "// Pull data from upstream nodes\nconst team      = $('Get Volunteer Team').item.json;\nconst calendarId = team.google_calendar_id || 'e8a07748b896cc2ae78ce0296041d68cefed0c89d9e0cd4ec15b4fa42eae1756@group.calendar.google.com';\nconst senior    = $('Get Senior').item.json;\nconst community = $('Get Community').item.json;\nconst members   = $('Get Team Members').item.json.results || [];\nconst meetingId = $('Parse Webhook').item.json.meeting_id;\n\n// Day of week \u2192 JS index and RRULE code\nconst dayToIndex = { Monday:1, Tuesday:2, Wednesday:3, Thursday:4, Friday:5, Saturday:6, Sunday:0 };\nconst dayToRrule = { Monday:'MO', Tuesday:'TU', Wednesday:'WE', Thursday:'TH', Friday:'FR', Saturday:'SA', Sunday:'SU' };\n\nconst dayOfWeek  = team.call_day_of_week?.value || 'Monday';\nconst callTime   = team.call_time || '14:00:00';\nconst timezone   = community.timezone?.value || 'America/New_York';\n\n// Parse hour/minute from call_time (handles \"14:00\" or \"14:00:00\")\nconst [hours, minutes] = callTime.split(':').map(Number);\n\n// Find next occurrence of the target weekday (never today \u2014 always next week if same day)\nconst now = new Date();\nconst targetDay = dayToIndex[dayOfWeek];\nconst currentDay = now.getDay();\nlet daysUntil = (targetDay - currentDay + 7) % 7;\nif (daysUntil === 0) daysUntil = 7;\n\nconst nextDate = new Date(now);\nnextDate.setDate(now.getDate() + daysUntil);\n\n// Format YYYY-MM-DDThh:mm:ss  (timeZone field tells Google which zone this is in)\nconst pad = n => String(n).padStart(2, '0');\nconst dateStr      = `${nextDate.getFullYear()}-${pad(nextDate.getMonth()+1)}-${pad(nextDate.getDate())}`;\nconst startDT      = `${dateStr}T${pad(hours)}:${pad(minutes)}:00`;\nconst endDT        = `${dateStr}T${pad(hours + 1)}:${pad(minutes)}:00`;\n\n// Names\nconst seniorName    = senior.display_name?.[0]?.value || senior.Name || 'Senior';\nconst communityName = community.Name || community.name || 'Community';\n\n// Volunteer names + emails from team member lookup fields\nconst volunteers = members.map(m => ({\n  name:  m.display_name?.[0]?.value || m.volunteer_display_name?.[0]?.value || '',\n  email: m.person_email?.[0]?.value || m.volunteer_email?.[0]?.value || null\n})).filter(v => v.name);\n\nconst volunteerNames = volunteers.map(v => v.name).join(', ');\n\n// Attendees list \u2014 only include if email found\nconst attendees = volunteers\n  .filter(v => v.email)\n  .map(v => ({ email: v.email, displayName: v.name, responseStatus: 'needsAction' }));\n\n// Event description (shows as group, not individual)\nconst description = [\n  `Weekly CTR Virtual Visit`,\n  ``,\n  `Senior: ${seniorName}`,\n  `Community: ${communityName}`,\n  volunteerNames ? `Volunteer Group: ${volunteerNames}` : '',\n  ``,\n  `Join the conversation: https://chat.conversationstoremember.org`,\n  ``,\n  `Schedule changes must go through the CTR admin portal.`\n].filter(l => l !== undefined).join('\\n');\n\n// Hub & spoke: get team-specific calendar ID\n\n\nreturn [{ json: {\n  calendarId,\n  meeting_id:    meetingId,\n  summary:       `CTR Visit: ${seniorName}`,\n  description,\n  startDateTime: startDT,\n  endDateTime:   endDT,\n  timezone,\n  rrule:         `RRULE:FREQ=WEEKLY;BYDAY=${dayToRrule[dayOfWeek]}`,\n  attendees,\n  hasAttendees:  attendees.length > 0\n}}];\n"
        },
        "id": "wf1-0001-0001-0001-000000000007",
        "name": "Build Event Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1792,
          -384
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($json.calendarId) }}/events?sendUpdates=none",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleCalendarOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"summary\": {{ JSON.stringify($json.summary) }},\n  \"description\": {{ JSON.stringify($json.description) }},\n  \"start\": {\n    \"dateTime\": {{ JSON.stringify($json.startDateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.timezone) }}\n  },\n  \"end\": {\n    \"dateTime\": {{ JSON.stringify($json.endDateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.timezone) }}\n  },\n  \"recurrence\": [{{ JSON.stringify($json.rrule) }}],\n  \"attendees\": {{ JSON.stringify($json.attendees) }},\n  \"colorId\": \"9\",\n  \"reminders\": {\n    \"useDefault\": false,\n    \"overrides\": [\n      { \"method\": \"email\",  \"minutes\": 1440 },\n      { \"method\": \"popup\",  \"minutes\": 30 }\n    ]\n  },\n  \"guestsCanModify\": false,\n  \"guestsCanInviteOthers\": false,\n  \"guestsCanSeeOtherGuests\": true\n}",
          "options": {}
        },
        "id": "wf1-0001-0001-0001-000000000008",
        "name": "Create Calendar Event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2016,
          -384
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "swQQbJOZ8pjWMSfx",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/565/{{ $('Parse Webhook').item.json.meeting_id }}/?user_field_names=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"calendar_event_id\": {{ JSON.stringify($json.id) }}, \"google_calendar_id\": {{ JSON.stringify($(\"Build Event Data\").item.json.calendarId) }}}",
          "options": {}
        },
        "id": "wf1-0001-0001-0001-000000000009",
        "name": "Save Event ID to Meeting",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2464,
          -384
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.googleapis.com/calendar/v3/calendars/e8a07748b896cc2ae78ce0296041d68cefed0c89d9e0cd4ec15b4fa42eae1756%40group.calendar.google.com/events?sendUpdates=none",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleCalendarOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"summary\": {{ JSON.stringify($json.summary) }},\n  \"description\": {{ JSON.stringify($json.description) }},\n  \"start\": {\n    \"dateTime\": {{ JSON.stringify($json.start.dateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.start.timeZone) }}\n  },\n  \"end\": {\n    \"dateTime\": {{ JSON.stringify($json.end.dateTime) }},\n    \"timeZone\": {{ JSON.stringify($json.end.timeZone) }}\n  },\n  \"recurrence\": {{ JSON.stringify($json.recurrence) }},\n  \"attendees\": {{ JSON.stringify($('Build Event Data').item.json.attendees) }},\n  \"colorId\": \"9\",\n  \"reminders\": {\n    \"useDefault\": false,\n    \"overrides\": [\n      { \"method\": \"email\",  \"minutes\": 1440 },\n      { \"method\": \"popup\",  \"minutes\": 30 }\n    ]\n  },\n  \"guestsCanModify\": false,\n  \"guestsCanInviteOthers\": false,\n  \"guestsCanSeeOtherGuests\": true\n}",
          "options": {}
        },
        "id": "6c70778b-9a44-4230-bdec-b3ad1e56ebce",
        "name": "Create Hub Calendar Event",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2240,
          -384
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "swQQbJOZ8pjWMSfx",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/565/{{ $json.meeting_id }}/?user_field_names=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "options": {}
        },
        "name": "Fetch Meeting Row",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          448,
          -288
        ],
        "id": "aa67c538-e565-4b32-acb2-e254daa85f8d"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ ($json.team || []).length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              },
              {
                "id": "c2",
                "leftValue": "={{ $json.meeting_day_of_week?.value || $json.meeting_day_of_week || '' }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              },
              {
                "id": "c3",
                "leftValue": "={{ $json.meeting_time || '' }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              },
              {
                "id": "c4",
                "leftValue": "={{ $json.calendar_event_id || '' }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "All Fields Ready?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          672,
          -288
        ],
        "id": "d9ca269b-06c2-4a75-88f7-4c0f974fbcad"
      },
      {
        "parameters": {},
        "name": "Not Ready Yet",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          896,
          -192
        ],
        "id": "f0d17e7e-2bd9-43e9-9ecd-92f2a4a4b92d"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Parse Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Webhook": {
        "main": [
          [
            {
              "node": "Fetch Meeting Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Volunteer Team": {
        "main": [
          [
            {
              "node": "Get Senior",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Senior": {
        "main": [
          [
            {
              "node": "Get Community",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Community": {
        "main": [
          [
            {
              "node": "Get Team Members",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Team Members": {
        "main": [
          [
            {
              "node": "Build Event Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Event Data": {
        "main": [
          [
            {
              "node": "Create Calendar Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Calendar Event": {
        "main": [
          [
            {
              "node": "Create Hub Calendar Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Hub Calendar Event": {
        "main": [
          [
            {
              "node": "Save Event ID to Meeting",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Meeting Row": {
        "main": [
          [
            {
              "node": "All Fields Ready?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "All Fields Ready?": {
        "main": [
          [
            {
              "node": "Get Volunteer Team",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Not Ready Yet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "jaime gudino",
    "name": "Version b740c1fc",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-21T19:17:33.056Z",
        "id": 214,
        "workflowId": "iEus61U7SzQf537I",
        "versionId": "b740c1fc-b997-4740-855f-204e627f6111",
        "event": "activated",
        "userId": "d7ce471d-e89c-45e4-a4fb-7efc66b2bafc"
      }
    ]
  }
}