code/n8n/wf4a-senior-feedback.json
{
  "updatedAt": "2026-03-21T18:41:30.071Z",
  "createdAt": "2026-03-18T04:05:24.940Z",
  "id": "MReUs2CcN7Y0iBEK",
  "name": "WF4a \u2014 Senior Feedback (Monthly)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "senior-feedback",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "wf4a-senior-feedback"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Normalize Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://baserow.conversationstoremember.org/api/database/rows/table/731/?user_field_names=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "submitted_at",
              "value": "={{ $json.submitted_at }}"
            },
            {
              "name": "respondent_relationship",
              "value": "={{ $json.respondent_relationship }}"
            },
            {
              "name": "respondent_name",
              "value": "={{ $json.respondent_name }}"
            },
            {
              "name": "community_name",
              "value": "={{ $json.community_name }}"
            },
            {
              "name": "senior_name",
              "value": "={{ $json.senior_name }}"
            },
            {
              "name": "isolation_verbalization",
              "value": "={{ $json.isolation_verbalization }}"
            },
            {
              "name": "family_visit_frequency",
              "value": "={{ $json.family_visit_frequency }}"
            },
            {
              "name": "positive_impact_duration",
              "value": "={{ $json.positive_impact_duration }}"
            },
            {
              "name": "looks_forward_to_visits",
              "value": "={{ $json.looks_forward_to_visits }}"
            },
            {
              "name": "caregiver_impact",
              "value": "={{ $json.caregiver_impact }}"
            },
            {
              "name": "additional_feedback",
              "value": "={{ $json.additional_feedback }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Create Feedback Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/556/?user_field_names=true&search={{ encodeURIComponent($('Normalize Fields').item.json.senior_name) }}&filter__Active__boolean=true&order_by=-id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Find Senior PERSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/558/?user_field_names=true&filter__person__link_row_has={{ $json.results.length > 0 ? $json.results[0].id : 0 }}&filter__Active__boolean=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Find SENIOR Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1136,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/554/?user_field_names=true&search={{ encodeURIComponent($('Normalize Fields').item.json.community_name) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Find Community",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        304
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/731/{{ $('Create Feedback Row').item.json.id }}/?user_field_names=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "senior",
              "value": "={{ $('Find SENIOR Record').item.json.results?.length > 0 ? [{ id: $('Find SENIOR Record').item.json.results[0].id }] : [] }}"
            },
            {
              "name": "senior_community",
              "value": "={{ $json.results?.length > 0 ? [{ id: $json.results[0].id }] : [] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Link Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1584,
        304
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Fields": {
      "main": [
        [
          {
            "node": "Create Feedback Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Feedback Row": {
      "main": [
        [
          {
            "node": "Find Senior PERSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Senior PERSON": {
      "main": [
        [
          {
            "node": "Find SENIOR Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find SENIOR Record": {
      "main": [
        [
          {
            "node": "Find Community",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Community": {
      "main": [
        [
          {
            "node": "Link Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4002d98f-7284-4492-944c-11207c151807",
  "activeVersionId": "4002d98f-7284-4492-944c-11207c151807",
  "versionCounter": 9,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-18T04:05:24.941Z",
      "createdAt": "2026-03-18T04:05:24.941Z",
      "role": "workflow:owner",
      "workflowId": "MReUs2CcN7Y0iBEK",
      "projectId": "bpvNrEJi6gIk3zG4",
      "project": {
        "updatedAt": "2025-11-14T08:10:15.255Z",
        "createdAt": "2025-11-14T07:48:45.521Z",
        "id": "bpvNrEJi6gIk3zG4",
        "name": "jaime gudino <gudino27@icloud.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d7ce471d-e89c-45e4-a4fb-7efc66b2bafc"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-21T18:41:31.000Z",
    "createdAt": "2026-03-21T18:41:30.072Z",
    "versionId": "4002d98f-7284-4492-944c-11207c151807",
    "workflowId": "MReUs2CcN7Y0iBEK",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "senior-feedback",
          "options": {}
        },
        "id": "b2c3d4e5-0002-0002-0002-000000000001",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          304
        ],
        "webhookId": "wf4a-senior-feedback"
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "b2c3d4e5-0002-0002-0002-000000000002",
        "name": "Normalize Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          464,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://baserow.conversationstoremember.org/api/database/rows/table/731/?user_field_names=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "submitted_at",
                "value": "={{ $json.submitted_at }}"
              },
              {
                "name": "respondent_relationship",
                "value": "={{ $json.respondent_relationship }}"
              },
              {
                "name": "respondent_name",
                "value": "={{ $json.respondent_name }}"
              },
              {
                "name": "community_name",
                "value": "={{ $json.community_name }}"
              },
              {
                "name": "senior_name",
                "value": "={{ $json.senior_name }}"
              },
              {
                "name": "isolation_verbalization",
                "value": "={{ $json.isolation_verbalization }}"
              },
              {
                "name": "family_visit_frequency",
                "value": "={{ $json.family_visit_frequency }}"
              },
              {
                "name": "positive_impact_duration",
                "value": "={{ $json.positive_impact_duration }}"
              },
              {
                "name": "looks_forward_to_visits",
                "value": "={{ $json.looks_forward_to_visits }}"
              },
              {
                "name": "caregiver_impact",
                "value": "={{ $json.caregiver_impact }}"
              },
              {
                "name": "additional_feedback",
                "value": "={{ $json.additional_feedback }}"
              }
            ]
          },
          "options": {}
        },
        "id": "b2c3d4e5-0002-0002-0002-000000000003",
        "name": "Create Feedback Row",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/556/?user_field_names=true&search={{ encodeURIComponent($('Normalize Fields').item.json.senior_name) }}&filter__Active__boolean=true&order_by=-id",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "options": {}
        },
        "id": "b2c3d4e5-0002-0002-0002-000000000004",
        "name": "Find Senior PERSON",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          912,
          304
        ]
      },
      {
        "parameters": {
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/558/?user_field_names=true&filter__person__link_row_has={{ $json.results.length > 0 ? $json.results[0].id : 0 }}&filter__Active__boolean=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "options": {}
        },
        "id": "b2c3d4e5-0002-0002-0002-000000000005",
        "name": "Find SENIOR Record",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1136,
          304
        ]
      },
      {
        "parameters": {
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/554/?user_field_names=true&search={{ encodeURIComponent($('Normalize Fields').item.json.community_name) }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "options": {}
        },
        "id": "b2c3d4e5-0002-0002-0002-000000000006",
        "name": "Find Community",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1360,
          304
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/731/{{ $('Create Feedback Row').item.json.id }}/?user_field_names=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "senior",
                "value": "={{ $('Find SENIOR Record').item.json.results?.length > 0 ? [{ id: $('Find SENIOR Record').item.json.results[0].id }] : [] }}"
              },
              {
                "name": "senior_community",
                "value": "={{ $json.results?.length > 0 ? [{ id: $json.results[0].id }] : [] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "b2c3d4e5-0002-0002-0002-000000000007",
        "name": "Link Records",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1584,
          304
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Normalize Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Fields": {
        "main": [
          [
            {
              "node": "Create Feedback Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Feedback Row": {
        "main": [
          [
            {
              "node": "Find Senior PERSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Senior PERSON": {
        "main": [
          [
            {
              "node": "Find SENIOR Record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find SENIOR Record": {
        "main": [
          [
            {
              "node": "Find Community",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Community": {
        "main": [
          [
            {
              "node": "Link Records",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "jaime gudino",
    "name": "Version 4002d98f",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-21T18:41:31.155Z",
        "id": 197,
        "workflowId": "MReUs2CcN7Y0iBEK",
        "versionId": "4002d98f-7284-4492-944c-11207c151807",
        "event": "activated",
        "userId": "d7ce471d-e89c-45e4-a4fb-7efc66b2bafc"
      }
    ]
  }
}