code/n8n/wf4b-senior-impact.json
{
  "updatedAt": "2026-03-21T18:41:38.690Z",
  "createdAt": "2026-03-18T04:05:25.007Z",
  "id": "f2tbgcD8Ma27Q06L",
  "name": "WF4b \u2014 Senior Impact (Monthly)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "senior-impact",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "wf4b-senior-impact"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Normalize Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://baserow.conversationstoremember.org/api/database/rows/table/732/?user_field_names=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "submitted_at",
              "value": "={{ $json.submitted_at }}"
            },
            {
              "name": "respondent_first_name",
              "value": "={{ $json.respondent_first_name }}"
            },
            {
              "name": "respondent_last_name",
              "value": "={{ $json.respondent_last_name }}"
            },
            {
              "name": "relationships_description",
              "value": "={{ $json.relationships_description }}"
            },
            {
              "name": "emotional_support_received",
              "value": "={{ $json.emotional_support_received }}"
            },
            {
              "name": "video_calls_characterization",
              "value": "={{ $json.video_calls_characterization }}"
            },
            {
              "name": "group_characterization",
              "value": "={{ $json.group_characterization }}"
            },
            {
              "name": "thinks_about_visits",
              "value": "={{ $json.thinks_about_visits }}"
            },
            {
              "name": "additional_feedback",
              "value": "={{ $json.additional_feedback }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Create Impact Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/556/?user_field_names=true&filter__first_name__equal={{ encodeURIComponent($('Normalize Fields').item.json.respondent_first_name) }}&filter__last_name__equal={{ encodeURIComponent($('Normalize Fields').item.json.respondent_last_name) }}&filter__Active__boolean=true&order_by=-id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Find Senior PERSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/558/?user_field_names=true&filter__person__link_row_has={{ $json.results.length > 0 ? $json.results[0].id : 0 }}&filter__Active__boolean=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Find SENIOR Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1136,
        304
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/732/{{ $('Create Impact Row').item.json.id }}/?user_field_names=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "senior",
              "value": "={{ $json.results?.length > 0 ? [{ id: $json.results[0].id }] : [] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Link Senior",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1360,
        304
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Fields": {
      "main": [
        [
          {
            "node": "Create Impact Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Impact Row": {
      "main": [
        [
          {
            "node": "Find Senior PERSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Senior PERSON": {
      "main": [
        [
          {
            "node": "Find SENIOR Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find SENIOR Record": {
      "main": [
        [
          {
            "node": "Link Senior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3ce99e4b-bd50-4495-96de-eacbdbf8d62a",
  "activeVersionId": "3ce99e4b-bd50-4495-96de-eacbdbf8d62a",
  "versionCounter": 9,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-18T04:05:25.008Z",
      "createdAt": "2026-03-18T04:05:25.008Z",
      "role": "workflow:owner",
      "workflowId": "f2tbgcD8Ma27Q06L",
      "projectId": "bpvNrEJi6gIk3zG4",
      "project": {
        "updatedAt": "2025-11-14T08:10:15.255Z",
        "createdAt": "2025-11-14T07:48:45.521Z",
        "id": "bpvNrEJi6gIk3zG4",
        "name": "jaime gudino <gudino27@icloud.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d7ce471d-e89c-45e4-a4fb-7efc66b2bafc"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-21T18:41:39.000Z",
    "createdAt": "2026-03-21T18:41:38.689Z",
    "versionId": "3ce99e4b-bd50-4495-96de-eacbdbf8d62a",
    "workflowId": "f2tbgcD8Ma27Q06L",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "senior-impact",
          "options": {}
        },
        "id": "c3d4e5f6-0003-0003-0003-000000000001",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          304
        ],
        "webhookId": "wf4b-senior-impact"
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "c3d4e5f6-0003-0003-0003-000000000002",
        "name": "Normalize Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          464,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://baserow.conversationstoremember.org/api/database/rows/table/732/?user_field_names=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "submitted_at",
                "value": "={{ $json.submitted_at }}"
              },
              {
                "name": "respondent_first_name",
                "value": "={{ $json.respondent_first_name }}"
              },
              {
                "name": "respondent_last_name",
                "value": "={{ $json.respondent_last_name }}"
              },
              {
                "name": "relationships_description",
                "value": "={{ $json.relationships_description }}"
              },
              {
                "name": "emotional_support_received",
                "value": "={{ $json.emotional_support_received }}"
              },
              {
                "name": "video_calls_characterization",
                "value": "={{ $json.video_calls_characterization }}"
              },
              {
                "name": "group_characterization",
                "value": "={{ $json.group_characterization }}"
              },
              {
                "name": "thinks_about_visits",
                "value": "={{ $json.thinks_about_visits }}"
              },
              {
                "name": "additional_feedback",
                "value": "={{ $json.additional_feedback }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c3d4e5f6-0003-0003-0003-000000000003",
        "name": "Create Impact Row",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/556/?user_field_names=true&filter__first_name__equal={{ encodeURIComponent($('Normalize Fields').item.json.respondent_first_name) }}&filter__last_name__equal={{ encodeURIComponent($('Normalize Fields').item.json.respondent_last_name) }}&filter__Active__boolean=true&order_by=-id",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "options": {}
        },
        "id": "c3d4e5f6-0003-0003-0003-000000000004",
        "name": "Find Senior PERSON",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          912,
          304
        ]
      },
      {
        "parameters": {
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/558/?user_field_names=true&filter__person__link_row_has={{ $json.results.length > 0 ? $json.results[0].id : 0 }}&filter__Active__boolean=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "options": {}
        },
        "id": "c3d4e5f6-0003-0003-0003-000000000005",
        "name": "Find SENIOR Record",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1136,
          304
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://baserow.conversationstoremember.org/api/database/rows/table/732/{{ $('Create Impact Row').item.json.id }}/?user_field_names=true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Token BHV3LDvlpFHIwdrNXOB09ddaW3qb6yNp"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "senior",
                "value": "={{ $json.results?.length > 0 ? [{ id: $json.results[0].id }] : [] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "c3d4e5f6-0003-0003-0003-000000000006",
        "name": "Link Senior",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1360,
          304
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Normalize Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Fields": {
        "main": [
          [
            {
              "node": "Create Impact Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Impact Row": {
        "main": [
          [
            {
              "node": "Find Senior PERSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Senior PERSON": {
        "main": [
          [
            {
              "node": "Find SENIOR Record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find SENIOR Record": {
        "main": [
          [
            {
              "node": "Link Senior",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "jaime gudino",
    "name": "Version 3ce99e4b",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-21T18:41:39.820Z",
        "id": 199,
        "workflowId": "f2tbgcD8Ma27Q06L",
        "versionId": "3ce99e4b-bd50-4495-96de-eacbdbf8d62a",
        "event": "activated",
        "userId": "d7ce471d-e89c-45e4-a4fb-7efc66b2bafc"
      }
    ]
  }
}